{% extends 'accounts/base.html' %}

{% load static %}

{% block content %}
    <div class="card card-body" style="margin-right: 50px; margin-left: 50px; object-fit: scale-down; ">
        <h5><a href="/user/{{post.author.id}}"
               style="color: #000 !important; text-decoration: none">{{post.author}}</a>
        </h5>
        <h4>{{post.title}}</h4>
        {% if post.text %}
            <p>{{post.text}}</p>
        {% endif %}
        {% if post.media %}
            <img style="height: min-content; width: min-content; "
                 src="/static{{ MEDIA_URL }}{{post.media.url}}">
        {% endif %}
        <a href="/post/{{post.id}}" align="right">{{post.date_created}}</a>
    </div>
    <br>
    {% if request.user.is_authenticated and request.user == post.author %}
        <p align="center"><a class="btn btn-lg btn-danger" href="/delete_post/{{post.id}}">Удалить пост</a></p>
    {% endif %}
{% endblock %}